.title{
  text-align: center;
  height: 64px;
  line-height: 64px;
  flex: 0 0 auto;
}

.title h1{
  margin: 0;
}

.icon-display{
  height: 120px;
  flex: 0 0 auto;
  overflow-y: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.icon-display::-webkit-scrollbar {
  display: none;
}

.flags-display{
  align-content: flex-start;
  justify-content: center;
  align-items: center;
}

.flags-icon{
  justify-content: center;
  flex: 0 0 20%;
  margin: 15px 0;
}

.flags-icon img{
  width: 24px;
}

.industry-display{
  align-content: flex-start;
  justify-content: center;
  align-items: center;
}

.industry-icon{
  justify-content: center;
  position: relative;
  flex: 0 0 20%;
  margin: 15px 0;
}
.industry-icon img{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin:auto;
}

.DrawPlot {
  display: flex;
  flex: auto;
  flex-direction: column;
}

.chart-display {
  flex: auto;
  min-height: 0px;
}

.map-svg {
  position: absolute;
  /* transform: translate(0, -50%); */
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 40px;
}