.title{
  text-align: center;
  line-height: 10vh;
  margin: 0;
}

.title h1{
  margin: 0;
}

.icon-display{
  height: 16vh;
  overflow-y: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.icon-display::-webkit-scrollbar {
  display: none;
}

.flags-display{
  align-content: flex-start;
  justify-content: center;
  align-items: center;
}
.flags-icon{
  justify-content: center;
  flex: 0 0 20%;
  margin: 15px 0;
}
.flags-icon img{
  width: 24px;
}

.industry-display{
  align-content: flex-start;
  justify-content: center;
  align-items: center;
}
.industry-icon{
  justify-content: center;
  position: relative;
  flex: 0 0 20%;
  margin: 15px 0;
}
.industry-icon img{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin:auto;
}
