.basic_layout {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.left_menu {
  flex: 1 0 0;
}

.main_content {
  flex: 3 0 0;
  border-left: 1px solid black;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
}

.main_content .top {
  flex: 1 0 0;
  border-bottom: 1px solid black;
}

.main_content .middle {
  flex: 1 0 0;
  border-bottom: 1px solid black;
  display: flex;
}

.main_content .middle .item {
  flex: 1 0 0;
}

.main_content .middle .item:first-child {
  border-right: 1px solid black;
}

.main_content .bottom {
  flex: 4 0 0;
}

.right_menu {
  flex: 1 0 0;
}